name: Auto Build on Server

on:
  push:
    branches: [ main, master ] # 当代码推送到 main 或 master 分支时触发
  # 取消下一行的注释，允许在GitHub页面上手动触发此工作流
  # workflow_dispatch:

jobs:
  build-on-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 获取完整的 Git 历史记录，便于后续操作

      - name: SSH to Server and Build
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }} 
          username: ${{ secrets.REMOTE_USER }} 
          password: ${{ secrets.SSH_PASSWORD }} 
          port: 22 # SSH端口，默认为22
          script: |
            echo "=== 连接到服务器，开始构建任务 ==="
            
            cd ~/web
            echo "当前目录: $(pwd)"
            export JAVA_HOME=/home/group2/.local/java/zulu17.48.15-ca-jdk17.0.10-linux_x64
            export PATH=$JAVA_HOME/bin:$PATH
            echo "当前JAVA_HOME: $JAVA_HOME"
            java -version
            
            git fetch origin
            git reset --hard origin/main || git reset --hard origin/master
            echo "代码已更新至最新版本。"
            
            
            mvn clean package 
            
